body {
    margin: 0;
    font-family: Verdana;
}

* {
    box-sizing: border-box;
}

.full-screen {
    max-width: 1280px;
    margin: auto;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 65px;
}

.transparent {
    width:auto;
    height: 55px;
    background-color:#000000;
    opacity:0.5;
    filter:alpha(opacity=50);
}

.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    margin-top: 13px;
    margin-left: 60px;
}

.logo:hover {
    color: #3cb878;
}

.header-icon {
    border: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 25px;
    margin-top: 15px;
    color: white;
}

.header-icon:hover {
    background-color: transparent;
    color: #3cb878;
}

.border1 {
    border-right: 1px solid grey;
    margin-right: 20px;
}

.header-links {
    margin-right: 60px;
}

p {
    color: white;
}

.head-link {
    color: #3cb878;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.5s;
}

.head-link:hover {
    text-decoration: underline;
    color: #3cb878;
}

.first-section {
    margin: 120px auto 0;
    width: 444px;
    height: 584px;
    border: 1px solid white;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    padding: 0 61px;
    position: relative;

}

.box {
    border: 1px solid #3cb878;
    background-color: #3cb878;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -1px;
    top: 25px;
}

h6 {
    font-size: 20px;
    color: #525252;
    margin: 20px 0 35px;
}

.login {
    font-size: 14px;
    color: #3cb878;
    margin-top: 25px;
    text-decoration: none;
    transition: all 0.5s;
}

.login:hover {
    text-decoration: underline;
    color: #3cb878;
}

.link-f {
    width: 150px;
    height: 46px;
    padding: 16px;
    margin: 23px 0;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #305db8;
    border: 1px solid grey;
    border-radius: 5px;
}

.link-f:hover {
    background-color: #254b95;
}

.link-g {
    width: 157px;
    height: 46px;
    padding: 16px 22px;
    margin: 23px 0;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #df4a32;
    border: 1px solid grey;
    border-radius: 5px;
}

.link-g:hover {
    background-color: #c3412b;
}

.border {
    border-right: 1px solid grey;
    margin-left: 18px;
    margin-right: 18px;
}

hr {
    border: none;
    border-top: 1px solid #eaeaea;
    color: #eaeaea;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin: 20px 0;
}

hr:after {
    background: white;
    content: 'or';
    padding: 0 6px;
    position: relative;
    top: -12px;
    margin: 20px 0;
}

input[type=text], input[type=email], input[type=password] {
    width: 322px;
    padding: 15px;
    margin-bottom: 10px;
    display: inline-block;
    background: white;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

input[type=text]:focus:hover, input[type=email]:focus:hover, input[type=password]:focus:hover {
    background-color: white;
    outline: none;
    box-shadow: 0 2px #dcdcdc;
}

input[type=checkbox] {
    margin-top: 24px;
}


.term {
    color: #3cb878;
    text-decoration: none;
}

.term:hover {
    text-decoration: underline;
}

button {
    background-color: #3cb878;
    color: white;
    padding: 14px 20px;
    margin: 28px 0;
    border: 1px solid #3cb878;
    border-radius: 5px;
    cursor: pointer;
    width: 322px;
    font-size: 16px;
}

button:hover {
    background-color: #319965;
}

